.list-item {
  list-style-type: none;
}

.playlist-title {
  margin-block: 0.8rem 1rem;
}

.close-btn {
  z-index: var(--middle-layer);
}

.button-container {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.3rem 0.5rem;
  margin-bottom: 1rem;
}

.flat-button {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: var(--button-bg);
  border-radius: 2px;
  font-family: "Satoshi-Bold";
}

.flat-button:hover {
  background-color: var(--button-hover-color);
}

.flat-button[data-pressed] {
  scale: 0.9;
}
