.player {
  background-color: var(--minimised-player-bg);
  position: absolute;
  inset-inline: 0;
  margin: auto;
  height: var(--nav-tabs-height);
  border-block: 1px solid var(--player-border);
  padding: 0.3rem 1rem;
  padding-top: 0.375rem;
  top: calc(100dvh - (var(--nav-tabs-height) * 2));
  animation: slideUp 100ms ease-in-out;
}

@media (min-width: 1000px) {
  .player.maximized {
    inset: unset;
    top: 0;
    right: 0;
    bottom: 0;
    padding-inline: 1.75rem;
    /* background-color: var(--nav-button-color); */
    border-left: 1px solid var(--big-screen-stroke);
  }
}

@keyframes slideUp {
  0% {
    translate: 0px 20px;
    opacity: 0;
  }

  100% {
    translate: 0;
  }
}

.maximized {
  all: unset;
  position: absolute;
  inset: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: var(--top-layer);
  transition: all 240ms ease-in-out;
}

.maximized * {
  text-align: center;
}

.maximized > .player-content {
  display: block;
  margin: 0;
}

.player-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 6px;
  max-width: 1280px;
}

.player-content button:hover {
  filter: brightness(110%);
}

/* .player-toggle {
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: var(--button-bg);
} 

.player-toggle:disabled {
  background-color: transparent;
}

.player-toggle:disabled svg {
  stroke: var(--disabled-stroke);
  cursor: auto;
}

.player-toggle div {
  width: 100%;
}
*/

.details {
  overflow: hidden;
  position: relative;
}

.maximized .details {
  overflow: visible;
  max-width: 300px;
}

.maximized .song-info {
  margin-block-end: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
}

.progress-bar {
  width: 100%;
}

.maximized .details::before,
.maximized .details::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  top: 0;
}

.maximized .details::before {
  background: linear-gradient(to right, var(--bg-color), transparent);
  left: 0;
  z-index: var(--top-layer);
}

.maximized .details::after {
  background: linear-gradient(
    to left,
    var(--bg-color),
    var(--bg-color) 50%,
    transparent
  );
  right: 0;
  width: 1.4rem;
}

.details__title-wrapper {
  --width-el: attr(data-width);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  width: calc(var(--width-el) * 1px);
}

.details__title-wrapper::after {
  content: "";
  position: absolute;
  right: 0rem;
  width: 10px;
  height: 22px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--minimised-player-bg)
  );
  z-index: var(--top-layer);
}

.maximized .details__title-wrapper::after {
  content: unset;
}

.details__title {
  text-overflow: ellipsis;
  margin-bottom: -0.1rem;
  position: relative;
  font-family: "Satoshi-Bold";
}

.details__author {
  color: var(--secondary-text-color);
}

.details__title.marquee {
  --width-val: attr(data-width);
  animation: moveLeft 12s linear infinite;
  animation-delay: 4s;
}

@keyframes moveLeft {
  0% {
    translate: 0;
  }

  50%,
  100% {
    translate: -100%;
  }
}

.album-art {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.album-art > img {
  scale: 1.8;
}

.maximized .album-art {
  margin-block: 2rem;
}

.player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem 0.5rem;
}

.audio-actions {
  display: flex;
  gap: 1rem;
}

.hide-player-btn {
  margin-block: auto 4rem;
}

.heart {
  fill: var(--fill-heart);
  color: var(--fill-heart);
  stroke: var(--stroke-heart);

  &[data-attr=""] {
    stroke: var(--disabled-bg);
  }

  @media (prefers-color-scheme: light) {
    fill: var(--fill-heart);
    color: var(--fill-heart);
    stroke: var(--stroke-heart-in-light);
  }
}
