.player {
  background-color: var(--minimised-player-bg);
  position: absolute;
  inset-inline: 0;
  margin: auto;
  height: var(--nav-tabs-height);
  border-block: 1px solid var(--player-border);
  padding: 0.3rem 1rem;
  padding-top: 0.375rem;
  top: calc(100dvh - (var(--nav-tabs-height) * 2));
  z-index: var(--middle-layer);
}

.maximized {
  all: unset;
  display: block;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: flex-start; */
  /* position:static; */

  /* Testing */
  background-color: rgb(34, 80, 0);
}

.maximized > .player-content {
  display: block;
  margin: 0;
}



.player-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 6px;
  max-width: 1280px;
  /* margin: auto; */
}
/* 
.player-content button {
  background-color: var(--button-bg);
} */

.player-content button:hover {
  filter: brightness(110%);
}

.player-toggle {
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: var(--button-bg);

}

.player-toggle:disabled {
  background-color: transparent;
}

.player-toggle:disabled svg {
  stroke: var(--disabled-stroke);
  cursor: auto;
}

.player-toggle div {
  width: 100%;
}

.details {
  /* max-width: 268px; */
  max-width: calc(100vw - (86px));
  overflow: hidden;
}

.maximized .details {
  max-width: 278px;
}

.details__title-wrapper {
  white-space: nowrap;
  overflow: hidden;
}

.details__title-wrapper::after {
  content: "";
  position: absolute;
  right: 1rem;
  width: 10px;
  height: 22px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--minimised-player-bg)
  );
  z-index: var(--top-layer);
}

.details__title {
  text-overflow: ellipsis;
  margin-bottom: -0.1rem;
  position: relative;
  font-family: "Satoshi-Bold";
}

.details__author {
  color: var(--secondary-text-color);
}

.details__title-wrapper {
  --width-el: attr(data-width);
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: calc(var(--width-el) * 1px);
}

.details__title.marquee {
  --width-val: attr(data-width);
  animation: moveLeft 12s linear infinite;
  animation-delay: 4s;
}

@keyframes moveLeft {
  0% {
    translate: 0;
  }

  50%,
  100% {
    translate: -100%;
  }
}

.album-art {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.album-art > img {
   scale: 1.35;
}

.player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}