.search {
  max-height: 100vh;
  overflow: auto;
}

#search-box {
  padding: 1em;
  border: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--input-bg);
  margin-bottom: 1.125rem;
  font-family: "Satoshi";
  font-size: 1rem;
  font-weight: 500;
}

.search-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
