.search {
  max-height: 100vh;
  overflow: auto;
}

/* .search > div:nth-child(2) {
  outline: 2px solid ghostwhite;
} */

#search-box {
  padding: 1em;
  border: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--input-bg);
  margin-bottom: 1.125rem;
  /* border: ; */
}

.search-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}