.custom-adjustment {
  margin-bottom: -0.5rem;
}

.search-controls {
  position: sticky;
  top: -1rem;
  padding-top: 1rem;
  background: var(--bg-color);
  z-index: var(--top-layer);
}

#search-box {
  padding: 1em;
  border: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--input-bg);
  margin-bottom: 1.25rem;
  font-family: "Satoshi-Medium";
  font-size: 1rem;
}

.search-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.scroll-to-top {
  font-family: "Satoshi-bold";
  font-size: 1rem;
  border: none;
  padding: 0.375rem;
  cursor: pointer;
  color: var(--accent-color);
  background-color: transparent;
  margin-block: 1rem;
  border-radius: 2px;
}

.scroll-to-top:active {
  background-color: var(--accent-color);
  color: var(--white);
}
