.snackbar {
    width: 100%;
    max-width: calc( 100vw - 2rem );
    max-width: calc( 100dvw - 2rem );
    padding: 0.5rem;
    border-radius: 2px;
    border-top: 1px solid var(--player-border);
    font-family: 'Satoshi-Medium';
    position: absolute;
    bottom: 1rem;
    inset-inline: 1rem;
}

.error {
    background-color: var(--error-bg);
    color: var(--white)
}

.success {
    background-color: var(--success-bg);
    color: var(--white)
}

.info {
    background-color: var(--info-bg);
    color: var(--black)
}