@import "./satoshi.css";

:root {
  font-family: "Satoshi-Regular", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 14%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent-color: #0f6bff;
  --error-bg: hsl(0, 100%, 37%);
  --success-bg: hsl(83, 100%, 30%);
  --info-bg: hsl(43, 100%, 76%);

  --bg-color: hsl(0, 0%, 14%);
  --player-border: rgba(255, 255, 255, 0.08);
  --icon: rgb(244, 244, 244);
  --minimised-player-bg: hsl(0, 0%, 18%);
  --shadow: hsla(0, 0%, 0%, 0);
  --input-bg: hsl(0, 0%, 18%);
  --list-item-border: hsla(0, 0%, 100%, 0.1);
  --list-item-hover: hsl(0, 0%, 20%);
  --nav-tabs-height: 64px;
  --secondary-text-color: hsl(0, 0%, 80%);
  --nav-button-color: hsl(0, 0%, 18%);
  --nav-button-hover-color: hsl(0, 0%, 20%);
  --disabled-stroke: rgb(100, 100, 100);
  --disabled-bg: gray;
  --button-bg: hsl(0, 0%, 22%);
  --button-hover-color: hsl(0, 0%, 26%);

  --top-layer: 100;
  --middle-layer: 0;
  --bottom-layer: -100;
  --transparent-black: rgb(0 0 0 / 60%);
  --white: #fff;

  accent-color: var(--accent-color);
}

html {
  scroll-behavior: smooth;
}

svg {
  fill: none;
  stroke: var(--icon);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --bg-color: #fff;
    --player-border: rgba(0, 0, 0, 0.16);
    --icon: rgb(17, 17, 17);
    --minimised-player-bg: hsl(0, 0%, 100%);
    --shadow: hsla(0, 0%, 0%, 0.15);
    --input-bg: hsl(0, 0%, 92%);
    --list-item-border: hsla(0, 0%, 0%, 0.1);
    --list-item-hover: hsl(0, 0%, 96%);
    --secondary-text-color: hsl(0, 0%, 16%);
    --nav-button-color: hsl(0, 0%, 100%);
    --nav-button-hover-color: hsl(0, 0%, 94%);
    --disabled-stroke: rgb(109, 109, 109);
    --disabled-bg: gray;
    --button-bg: hsl(0, 0%, 94%);
    --button-hover-color: hsl(0, 0%, 90%);
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi-Bold";
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-bottom: 0.25em;
  font-weight: bold;
}

.hidden {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

span.bold {
  font-family: "Satoshi-Bold";
}

.icon-button {
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: transparent;
}

.icon-button:hover {
  background: var(--button-hover-color);
}

.accent-button {
  background: var(--accent-color);
  scale: 1.2;
  color: white;
}

.accent-button:hover {
  background: var(--accent-color);
  filter: brightness(110%);
}

.accent-button svg {
  stroke: var(--white);
}
